.hero {
  margin: 3.75rem auto 0;
  min-height: 16.25rem;
  width: 100%;
  position: relative;
  background-color: #dde5ea;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  @include breakpoint($lg) {
    margin: 0 auto;
    height: 36em;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 56, 81, .8);
  }
}

.hero--small {
  margin: 3.75rem auto 0;
  min-height: 8.75rem;
  width: 100%;
  position: relative;
  background-color: $dark-light;

  @include breakpoint($lg) {
    height: 12.5em;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 56, 81, .8);
  }
}

.hero__wrap {
  top: 30%;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  max-width: 90%;
  z-index: 1;

  @include breakpoint($md) {
    max-width: 40em;
  }

  .hero__title {
    font-size: 1.8em;
    color: $bg-color;
    padding-bottom: 0;
    margin-bottom: 0;

    @include breakpoint($md) {
      padding: 1rem 0;
      padding-bottom: 0;
      font-size: 2.625em;
      line-height: 3.125rem;
    }
  }
}

div.upcoming-container {
  position: absolute;
  margin: auto;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  max-width: 90%;
  z-index: 1;
}

article.upcoming {
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin: auto;
  border-radius: 30px;

  a.event,
  a.lecture {
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1;
    text-decoration: none;
    border: none;
    h2 {
      padding: 0;
      font-size: 15px;
    }

    h3 {
      font-size: 18px;
      margin: 0;
    }

    h4 {
      font-size: 12px;
      padding: 0;
      margin-top: 0;
    }
  }
}

div.upcoming-container article.upcoming a.event {
  flex-direction: column;
  height: 80px;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  transition: all 0.5s ease;
  h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;

  }
  h3 {
    font-size: 12px;
  }

  &:hover {
    background-color: $primary;
    transition: all 0.5s ease;
    cursor: pointer;
    h2, h3 {
      color: white;
    }
  }
}

div.upcoming-container article.upcoming a.lecture {
    flex-direction: column;
    border-left: 1px solid $dark-light;
    height: 80px;

    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    transition: all 0.5s ease;

    h2 {
      margin: 0;
      margin-top: 8px;
    }

    &:hover {
      background-color: $primary;
      cursor: pointer;
      h2,h3,h4 {
        color: white;
      }
    }
}
.page-content {
  max-width: 52.5rem;
  margin: 0 auto;
  padding: 2.5em 0;

  @include breakpoint($md) {
    padding: 3.75rem 0;
  }
}

.blog {
  background-color: #f9f9f9;
}

.post-list {
  padding-top: 2.5em;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;

  @include breakpoint($md) {
    padding-top: 5em;
  }
}

@media (max-width: $md) {
  div.hero {
    div.hero__wrap {
      img {
        width: 30%;
        max-width: 100px;
      }
      h1.hero__title {
        font-size: 5vw;
      }
    }

    div.upcoming-container {
      max-width: 100%;
      width: 100%;
      top: 85%;
      article.upcoming {
        max-width: 100%;
        width: 100%;
        border-radius: 0;

        a.event, a.lecture {
          border-radius: 0;
        }
      }
    }
  }
}

@media (max-width: $lg) {
  div.hero__wrap {
    top: 38%;
    img {
      max-width: 15%;
    }
  }
  div.upcoming-container {
    top: 84%;
  }
}
